* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto bold";
  src: url('./assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: "Roboto regular";
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

body {
  background-color: hsl(234, 29%, 20%);
  font-family: 'Roboto regular';
}

.container, .success-page {
  background-color: hsl(0, 0%, 100%);
  max-width: 755px;
  margin: 150px auto;
  border-radius: 5%;
  padding: 20px;
}

.signup {
  display: flex;
  justify-content: space-between;
}

.real-form {
  padding: 30px;
  margin: auto;
}

.title {
  font-size: 55px;
  margin-bottom: 20px;
  font-family: 'Roboto bold', sans-serif;
}

.text {
  font-size: 15px;
  margin-bottom: 20px;
}

.checked {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14.5px;
}

.checked-icon {
  margin-right: 10px;
}

.small-form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 15px;
  margin-top: 30px;
}

.email {
  font-weight: bold;
}

input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid gray;
}

.submit-button, .dismiss-button {
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.submit-button:hover, .dismiss-button:hover {
  background-image: linear-gradient(to right, hsl(348, 98%, 66%), hsl(4, 100%, 67%));
  border: 1px solid hsl(0, 0%, 100%);
}

.illustration-signup {
  height: 500px;
  margin-left: 10px;
}

.success-page {
  display: none;
  max-width: 355px;
  padding: 60px;
  color: hsl(234, 29%, 20%);
}

.success-check-icon {
  margin-bottom: 30px;
}

.dismiss-button {
  width: 100%;
  margin-top: 20px;
}

.the-email {
  font-weight: bold;
}

.illustration-signup-mobile {
  display: none;
}

@media( max-width: 768px) {
  .container, .success-page {
    padding: 0;
    border-radius: 0%;
  }
  .signup {
    display: flex;
    flex-direction: column-reverse;
  }

  .illustration-signup {
    display: none;
  }

  .illustration-signup-mobile {
    display: block;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
